
@media (max-width: 700px) {

    .container {
      max-width: 100%;
      padding: 16px;

    }
  }


  /* DESKTOP STYLES */


  @media (min-width: 700px) {
    .container {
      width: 700px;
      margin: 0 auto;

      padding: 16px;
    }
  }