
/* BUTTONS LIST */
@media (max-width: 700px) {

    .buttonsSection ul {
        display: flex;
    }

    .buttonsSection ul li {
        margin-right: 15px;
    }

    .buttonsSection ul li button{
        padding: 0 15px;
        height: 32px;
        
        font-weight: var(--font-weight-1);
        font-size: var(--font-size-4);
        font-family: var(--font-family-1);

        background-color: var(--fixed-white);
        color: var(--color-grey-2);

        border: 1px solid var(--color-grey-5);
        border-radius: var(--radius-1);

        cursor: pointer;
    }
    .buttonsSection ul li button:focus{

        border: 1px solid var(--color-brand-1);

        color: var(--color-brand-1);
        background-color: var(--color-grey-4);
    }

}


/* FINANCES LIST SECTION */
@media (max-width: 700px) {

    .financeUl {
        max-height: 260px;
        overflow-y: scroll;
    }

    .financeLi {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 0 16px;
        margin-bottom: 20px;

        height: 45px;

        border: 1px solid var(--color-grey-5);
    }

    .itemInfos {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
    }

    .itemCategory {
        font-size: var(--font-size-5);

        width: 68px;
        height: 26px;

        background-color: var(--color-grey-4);
        border-radius: var(--radius-2);

        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .itemButtons{
        margin-left: 40px;
    }
}


/* DESKTOP STYLES */

@media (min-width: 700px){
    .buttonsSection ul{
        display: flex;
    }

    .buttonsSection ul li{
        margin-left: 15px;
    }

    .buttonsSection ul li button{
        padding: 0 15px;
        height: 32px;
        
        font-weight: var(--font-weight-1);
        font-size: var(--font-size-4);
        font-family: var(--font-family-1);

        background-color: var(--fixed-white);
        color: var(--color-grey-2);

        border: 1px solid var(--color-grey-5);
        border-radius: var(--radius-1);

        cursor: pointer;
    }
    .buttonsSection ul li button:focus{

        border: 1px solid var(--color-brand-1);

        color: var(--color-brand-1);
        background-color: var(--color-grey-4);
    }


    /* finance list */

    .financeUl {
        max-height: 260px;
        padding: 0 16px;

        overflow-y: scroll;
    }

    .financeLi {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 20px;

        height: 45px;

        border: 1px solid var(--color-grey-5);
    }

    .itemInfos {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
    }

    .itemCategory {
        font-size: var(--font-size-5);

        width: 68px;
        height: 26px;

        background-color: var(--color-grey-4);
        border-radius: var(--radius-2);

        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .itemButtons{
        margin-left: 40px;
    }



}

