

@media (max-width: 700px){

    .appTitleSection{
        margin-bottom: 40px;
    }

    .buttonsSection {
        margin-bottom: 36px;
    }

    .totalSection {
        margin-bottom: 30px;
    }
}